# ~/.gitconfig

[includeIf "gitdir/i:~/.dotfiles"]
    path = ~/Development/personal/.gitconfig

[includeIf "gitdir/i:~/Development/personal/"]
    path = ~/Development/personal/.gitconfig
  
[includeIf "gitdir/i:~/Development/work/"]
    path = ~/Development/work/.gitconfig
