# ~/.gitconfig

[includeIf "gitdir/i:~/.dotfiles/"]
    path = ~/.config/git/.personal

[includeIf "gitdir/i:~/Development/personal/"]
    path = ~/.config/git/.personal
  
[includeIf "gitdir/i:~/Development/work/"]
    path = ~/.config/git/.work
